body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

header{
	height:200px;
	width:100%;
}

.logo {
	text-align:center;
}
.pesquisa {
	float:right;
}

section {
	width: 100%;
}

nav {
	background-color: #FFEDD1;
	width: 100%;
	height: 100px;
	text-align: center;
	padding-bottom: 10%;
	justify-content: center;

}

main{
	background-color: #ffdead;
}

#logo {
	padding: 15px;
	height: 400px;
	width: 400px;
}


#cabecalho {
	height: 100%;
	width: 100%;
	padding: 10px;
}

.pesquisa {
	width: 40%;
}

.wrapper2 {
	display: grid;
	grid-template-columns: 720px 720px;
}

.menu a {
	justify-content:center;
	background: #FFDEAD;
	color: #000;
	margin: 50px;
	border: 15px solid #FFDEAD;
	border-radius: 10px;
	margin-right: 15px;
	font-size: 30px;
	font-weight: 500;
	text-decoration: double;
}

.menu a:hover {
	background: #fff;
	color: #D8BFD8;
	border: 1px solid #D8BFD8;
}

#p1 {
	padding: 50px;
	font-size: 70px;
	text-align: center;
}

#p2 {
	font-size: 35px;
	text-align: center;
}

#cabecalho_texto {
	font-size: 30px;
	text-align: center;
	background: #FFDEAD;
}

.wrapper {
	display: grid;
	grid-template-columns: 500px 500px 500px;
}

#grid {
	height: 250px;
	width: 250px;
}

footer {
	padding-left: 25%;
	text-align: center;
	height: 200px;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
}

.texto1 {
	text-align: center;
	float: left;
	font-size: 16px;
	padding-left: 1%;
	padding-top: 2%;
}

.texto2 {
	text-align: center;
	float: left;
	font-size: 16px;
	padding-left: 4%;
	padding-top: 2%;
}

.texto3 {
	text-align: justify;
	float: left;
	font-size: 16px;
	padding-left: 4%;
	padding-top: 2%;
}

/*Leticia*/

#grid{
	height: 250px;
	width: 250px;
}

h2{
	color: black;
	text-align: center;
}	

.container{
	padding: 30px;
}

.row{
	padding: 25px;
}

.card{
	height: 260px;
	text-align: center;
	font-size:  20px;
	padding-top: 15px;
}


#contact{
	width: 1200px;
}

#card-final{
	height: 180px;
	text-align: center;
}

h1{
	padding-top: 30px;
	text-align: center;
}

.card-title{
	color: #e16664;
}


#menub, #send{
	font-size: 15px;
	font-weight: 100;
}

.menub {
	background-color: #cc947c;
	color: #000;
	border: 15px solid #cc947c;
	border-radius: 10px;
	font-size: 20px;
	text-decoration: double;
	height: 50px;
	width: 300px;	

}
    
.menub:hover,.send:hover {	
	background-color: #FFDEAD;
	border: 1px solid black;
}

.button{
	text-align: center;
}

.form{
	width:50%; 
	border-radius:2rem; 
	border:solid 1px; 
	padding:3%;
	font-size: 18px;
}

.send{
	background-color: #cc947c;
	color: #000;
	border: 15px solid #cc947c;
	border-radius: 10px;
	text-decoration: double;
	height: 50px;
	width: 200px;	
}

